<div fxLayout fxLayoutAlign="center">
  <mat-card fxFlex="960px" fxFlex.lt-md="500px" fxFlex.lt-sm="320px">
    <mat-card-header>
      <mat-card-title fxLayout fxLayoutAlign="space-between">
        <h3>Listado de clientes</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Clientes VIP">Contenido de clientes VIP</mat-tab>
        <mat-tab label="Clientes Platinum">Contenido de clientes Platinum</mat-tab>
        <mat-tab label="Clientes Otros">Contenido de clientes Otros</mat-tab>
      </mat-tab-group>

    </mat-card-content>
  </mat-card>

</div>
