mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100vh;
}

mat-sidenav {
  width: 340px
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: inline-block;
}

ul a,
ul a:link,
ul a:active,
ul a:visited {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: grey;
}

ul a:hover {
  color: white;
  text-decoration: underline
}
