<button mat-button color="warn">Login</button>
<button mat-raised-button color="primary">Registro</button>
<button mat-stroked-button color="accent">Alerta</button>
<button mat-flat-button color="warn">Salida</button>
<button mat-fab color="primary">U</button>
<button mat-mini-fab color="accent">+</button>
<button mat-icon-button color="warn">
  <mat-icon>face</mat-icon>
</button>

<button mat-mini-fab color="primary">
  <mat-icon>add</mat-icon>
</button>

<button mat-flat-button color="accent">
  Cerrar sesión
  <mat-icon>3d_rotation</mat-icon>
</button>

<button mat-raised-button color="accent">
  Sergio Hidalgo
  <mat-icon>keyboard_arrow_down</mat-icon>
</button>

<router-outlet></router-outlet>
